<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<center><h1>Students</h1></center><hr>
 {% for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-success">
            {{ message }}
         </div>
      {% endfor %}
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Class_Id</th>
        <th>Created_On</th>
        <th>Updated_On</th>
        <th colspan="2">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
    <tr>
        <td>{{student.student_id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.class_id}}</td>
        <td>{{student.created_on}}</td>
        <td>{{student.updated_on}}</td>
        <td>
            <form method="post" action="./update">
                <input type="hidden" name="id" value="{{student.student_id}}">
                <input type="submit" value="Update" class="btn btn-success">
            </form>
        </td>
        <td>
            <form method="post" action="./delete_student">
                <input type="hidden" name="id" value="{{student.student_id}}">
                <input type="submit" value="Delete" class="btn btn-info">
            </form>
        </td>

    </tr>
    {% endfor %}

    </tbody>
</table>


<a href = "{{ url_for('new_student') }}" class="btn btn-danger">Add Student</a> &nbsp;<a href="{{url_for('class_table')}}" class="btn btn-info">View Classes</a>

</body>
</html>