<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action = "./update_rec", method = "post">
    <label>Enter Name</label>
    <input type="hidden", name="id" value="{{student.id}}">
    <input type="text", name="name">
    <label>Enter Class Id</label>
    <input type="hidden", name="old_class_id" value="{{student.class_id}}">
    <input type="text", name="class_id">
    <label>Appoint as Class Leader?</label>
    <select name="class_leader">
        <option name="Yes">Yes</option>
        <option name="No">No</option>
    </select>
    <input type="submit", value = "Submit">

</form>

</body>
</html>